<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.watch.watch_mall.mapper.AttributeValuesMapper">

    <resultMap id="BaseResultMap" type="com.watch.watch_mall.model.entity.AttributeValues">
            <id property="id" column="id" />
            <result property="attributeId" column="attributeId" />
            <result property="value" column="value" />
    </resultMap>

    <sql id="Base_Column_List">
        id,attributeId,value
    </sql>
</mapper>
