<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.watch.watch_mall.mapper.ProductSkusMapper">

    <resultMap id="BaseResultMap" type="com.watch.watch_mall.model.entity.ProductSkus">
            <id property="id" column="id" />
            <result property="productId" column="productId" />
            <result property="skuCode" column="skuCode" />
            <result property="skuName" column="skuName" />
            <result property="image" column="image" />
            <result property="price" column="price" />
            <result property="marketPrice" column="marketPrice" />
            <result property="stock" column="stock" />
            <result property="lockStock" column="lockStock" />
            <result property="version" column="version" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,productId,skuCode,skuName,image,price,
        marketPrice,stock,lockStock,version,createTime,
        updateTime
    </sql>
</mapper>
